$primaryColor: #4833cc !default;
$primaryDarkColor: #3927b1 !default;
$primaryDarkerColor: #251c81 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #eef2ff !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: #e0e7ff !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../extensions/_extensions';
