// Reset CSS does not get in the way of PrimeVue components
@layer tailwind, primevue;
@import '@unocss/reset/tailwind.css' layer(tailwind-reset);

@import "primevue/resources/themes/lara-light-indigo/theme.css"
  layer(primevue);
// Supports weights 200-900
@import '@fontsource-variable/red-hat-display';

@import './pages/home';

html {
  scroll-behavior: smooth;
}
* {
  font-family: 'Red Hat Display Variable', sans-serif;
}

body {
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  background-color: #f9f9fa;
}
